@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

// Color variables
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

// Mixins
@mixin card($area, $color, $delay: 0s) {
  grid-area: $area;

  &::before {
    background-color: $color;
    animation-delay: $delay;
  }
}

// Animation
@keyframes roll-to-right {
  to {
    left: 0;
    width: 100%;
  }
}

// Global resets
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.94rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: $grayish-blue;
  background-color: $very-light-gray;
  min-height: 100vh;
  padding: 2rem;
  display: grid;
  place-content: center;
}

main {
  max-width: 75rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 2.4rem;
    font-weight: 200;
    line-height: 1.2;
    color: $very-dark-blue;
  }

  h1 {
    font-size: 2.4rem;
    font-weight: 600;
    color: $very-dark-blue;
    margin-bottom: 1rem;
  }

  .intro {
    max-width: 35rem;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 4rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      ". team-builder ."
      "supervisor team-builder calculator"
      "supervisor karma calculator"
      ". karma .";
    gap: 2rem;

    article {
      background-color: hsl(0, 0%, 100%);
      box-shadow: 0 0.5rem 1rem hsla(234, 12%, 34%, 0.2);
      border-radius: 0.5rem;
      overflow: hidden;
      padding: 2rem;
      position: relative;

      h2 {
        font-size: 1.4rem;
        color: $very-dark-blue;
        margin-bottom: 0.5rem;
      }

      p {
        margin-bottom: 2.5rem;
      }

      img {
        display: block;
        margin-left: auto;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0.3rem;
        animation-name: roll-to-right;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
      }

      //   Styling the individual cards
      &.supervisor {
        @include card(supervisor, $cyan, 0.2s);
      }

      &.team-builder {
        @include card(team-builder, $red);
      }

      &.karma {
        @include card(karma, $orange, 0.4s);
      }

      &.calculator {
        @include card(calculator, $blue, 0.2s);
      }
    }
  }
}

// Media queries
@media (max-width: 930px) {
  body {
    padding: 4rem 2rem;
  }

  main .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      ". supervisor"
      "team-builder supervisor"
      "team-builder karma"
      "calculator karma"
      "calculator .";

    article {
      &.supervisor::before {
        animation-delay: 0s;
      }

      &.team-builder::before {
        animation-delay: 0.2s;
      }

      &.karma::before {
        animation-delay: 0.4s;
      }

      &.calculator::before {
        animation-delay: 0.6s;
      }
    }
  }
}

@media (max-width: 620px) {
  main {
    h3,
    h1 {
      font-size: 1.6rem;
      text-align: center;
    }

    .container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      grid-template-areas:
        "supervisor"
        "team-builder"
        "karma"
        "calculator";
    }
  }
}

// Remove animations for users that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
  }
}
